<div class="interactive-wrapper">
	
	<div id="outer-wrapper" class="immersive">
		<div class='chartTitle'>Death rate for infectious and parasitic diseases</div>
		<div class='row  chartNotes' id='key'>
			<!--div class='keyDiv'>
					<span class='keyCircle' style="background: #197caa"></span> 
					<span class='keyText'>National greenhouse gas inventory</span>
			</div>
			<div class='keyDiv'>
				 <span class='keyCircle' style="background: #4bc6df"></span> 
				 <span class='keyText'>Projections by NDEVR Environmental</span>
			</div>
			<div class='keyDiv'>
				 <span class='keyCircle' style="background: #7d0068"></span> 
				 <span class='keyText'>Climate Change Authority's proposed reduction targets</span>
			</div>
			<div class='keyDiv'>
				<span class='keyCircle' style="background: #dc2a7d"></span> 
				<span class='keyText'>The government's Paris emission reduction targets<span>
			</div-->

		</div>
		<div class="row borderBottom chartSans" id="graphicContainer">	
				<div class="btn" id="zoomButton">zoom in</div>
		</div>
		<div class='footer offset '>
			<a href='https://www.aihw.gov.au/reports-data' target='_blank'>AIHW</a>
		</div>
	</div>

</div>